:root {
  line-height: 1.6;
  font-weight: 500;
  color: #333;
  background-color: #f7f7f7;
  text-decoration: underline;

  font-synthesis: initial;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  min-height: 90vh;
  width: 95%;
}


/* Reset some default styles for consistency across browsers */
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* Apply a global font family or any other styles you want */
body {
  font-family: 'Arial', sans-serif;
}

/* Add more global styles as needed */
